<!doctype html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<!--[if IE 10]><html class="ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">

<head>

	<meta charset="UTF-8">

	<title>Steve Buckley | Web Developer Skills Showcase</title>

	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Normalize CSS -->
	<link rel="stylesheet" href="css/normalize.css">

	<!-- Foundation core CSS -->
	<link rel="stylesheet" href="css/foundation.min.css">

	<!-- Foundation font icons core CSS -->
	<link rel="stylesheet" href="css/foundation-icons.css">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" href="css/main.css">

	<!-- Google Web Fonts CSS -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Raleway:400,700|Rock+Salt">

	<!-- Favicons -->
	<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->

	<!-- Modernizr Scripts -->
	<script src="js/modernizr-2.6.2.min.js"></script>

</head>

<body>




	<!-- TOP BAR -->
	<header class="masthead">

		<div class="row">

			<nav class="top-bar" data-topbar>

				<ul class="title-area">

					<!-- Title Area -->
					<li class="name">
						<h1><a href="./index-app.html">Portfolio</a></h1>
					</li>

					<!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
					<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>

				</ul><!-- /.title-area -->

				<section class="top-bar-section">

					<!-- Right Nav Section -->
					<ul class="right">

						<li class="divider"></li>
						<li class="active"><a href="./posts">Posts</a></li>
						<li class="divider"></li>
						<!-- <li><a href="./projects">Example Work</a></li> -->
						<li><%= link_to "Example Work", projects_path %></li>
						<li class="divider"></li>
						<li><a href="./contact.html">Contact</a></li>
						<li class="divider"></li>
<!-- 						<li class="has-form"><a href="./sign-up-in.html" class="button tiny success radius">Sign In</a></li> -->

					</ul><!-- /.right -->

				</section><!-- /.top-bar-section -->

			</nav><!-- /.top-bar -->

		</div><!-- /.row -->

	</header><!-- /.masthead -->
	<!-- TOP BAR -->




	<!-- INTRO -->
	<section class="intro">

		<div class="row">

			<div class="medium-6 columns margin-top">

				<!-- Start: Description -->
				<h1>Steve Buckley</h1>
				<p class="lead">You've landed on Steve Buckley's website.</p>
              <p> You'll find a variety of projects I've done to demonstrate my capability in Ruby on Rails.</p>
				<p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem.</p>
				<!-- End: Description -->

			</div><!-- /.medium-6 .columns -->




			<div class="medium-6 columns">
				<%=image_tag("SteveProfile.png", alt: "Steve's Image")%>
			</div><!-- /.medium-6 .columns -->

		</div><!-- /.row -->

	</section><!-- /.intro -->
	<!-- INTRO -->

















	<!-- PRE FOOTER -->
	<section class="pre-footer">

		<div class="row">

			<div class="medium-4 columns">

				<div class="col-pre-footer">

				</div><!-- /.col-pre-footer -->

			</div><!-- /.medium-4 .columns -->




			<div class="medium-4 columns">

				<div class="col-pre-footer">

					<h5>Address</h5>

					<ul class="add-links">

						<li><strong><i class="fi-marker"></i> Steve Buckley.</strong> <br>5706 SW Admiral Way, Seattle, WA  98116</li>
						<li><i class="fi-telephone"></i>(425)999-9634</li>
						<li><i class="fi-mail"></i> buckleys78@gmail.com <em>or</em> steve-buckley@gerrit-tech.com</li>

					</ul><!-- /.add-links -->

				</div><!-- /.col-pre-footer -->

			</div><!-- /.medium-4 .columns -->




			<div class="medium-4 columns">

				<div class="col-pre-footer">

					<h5>Social Media</h5>

					<ul class="social-media">
						<li><a href="#"><i class="fi-social-facebook"></i> Facebook</a></li>
						<li><a href="#"><i class="fi-social-twitter"></i> Twitter</a></li>
						<li><a href="#"><i class="fi-social-zurb"></i> Zurb</a></li>
						<li><a href="#"><i class="fi-social-pinterest"></i> Pinterest</a></li>
					</ul><!-- /.social-media -->

				</div><!-- /.col-pre-footer -->

			</div><!-- /.medium-4 .columns -->

		</div><!-- /.row -->

	</section><!-- /.pre-footer -->
	<!-- PRE FOOTER -->







	<!-- Load JS here for greater good -->
	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/foundation.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/main.js"></script>

	<!--
		You need to include this script on any page that has a Google Map.
		When using Google Maps on your own site you "MUST" signup for your own API key () at:
		https://developers.google.com/maps/documentation/javascript/tutorial#api_key

		After your sign up replace the key in the URL below or paste in the new script tag that Google provides.
	-->
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyASm3CwaK9qtcZEWYa-iQwHaGi3gcosAJc&amp;sensor=false"></script>
	<!-- Google Maps Script (to edit your styles, latitude and longitude for center the map) -->
	<script src="js/maps.js"></script>




</body>

</html>
