<h2>My Portfolio</h2>

<ul id='project_list'>
  <%= render @projects %>
</ul>

<br />
<% if policy(Project).create? %>
  <%= link_to 'New project', new_project_path, id: :new_link, remote: true %>
<% end %>
