<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Please Respond</h1>
    <p>
      Contact me,
      my name is: <%= @contact.name %>.<br>
    </p>
    <p><%= @contact.message %></p>

  </body>
</html>
